@font-face {
    font-family: "MgenRegular";
    src: url('../fonts/mgenplus-1p-regular.ttf') format('truetype');
}
body {
    font-family: "MgenRegular";
}
main {
    width: 70%;
    margin: 40px auto;
}
.header {
    width: 85%;
    margin: 0 auto;
}
.header h1 {
    font-size: 1.5em;
}
.header img {
    width: 40%;
    height: auto;
}
.details h1 {
    display: inline;
    width: 50%;
}
.colum span#hikitoribi {
    display: block;
    width: 50%;
    float: right;
    text-align: right;
}
.colum {
    width: 80%;
    margin: 20px auto;
    border: solid 1px #95989A;
    border-radius: 10px;
    padding: 3px 5px;
}
.colum:hover {
    box-shadow: #333333 0 1px 2px;
}
.colum img {
    width: 25%;
    height: auto;
    border-radius: 10px;
}
.details {
    width: 70%;
    float: right;
    padding: 2% 0;
}
.details h3 {
    color: #95989A;
}
.dcol {
	width: 100%;
    margin: 3% auto;
    position: relative;
}
.dcol p {
    color: #95989A;
    font-size: 1.5em;
}
.dcol p span {
    color: black;
}
#right {
    text-align: right;
}
#center {
    text-align: center;
}