@font-face {
    font-family: "MgenRegular";
    src: url('../fonts/mgenplus-1p-regular.ttf') format('truetype');
}
body {
    font-family: "MgenRegular", sans-serif;
}
main {
    width: 80%;
    margin: 60px auto;
}
main h1 {
    font-size: 3em;
    margin: 20px 0;
}
main img {
    width: 40%;
    height: auto;
    float: left;
}
.colum {
    width: 25%;
    height: 100px;
    float: right;
    padding: 10px;
    margin: 5px;
    position: relative;
}
.colum h2 {
    margin: 0;
}
.colum input {
    width: 100%;
    border: solid 1.4px #95989A;
    border-radius: 3px;
    height: 30px;
}
.colum #button {
    background-color: white;
    color: #20E233;
    width: 40%;
    display: inline;
    font-size: 1.3em;
    border: solid 2px #20E233;
    border-radius: 3px;
    text-align: center;
    padding: 20px 0;
    float: right;
    margin: 10px 10px 0;
    line-height:0;
}
.colum #button:hover {
    box-shadow: #333333 0 1px 6px;
    color: white;
    background-color: #20E233;}

.buttons {
    margin-top: 20px;
}
nav ul li#naeitiran {
    background: white;
}
.price {
    width: 100%;
    margin-top: 50px;
}
.price h2 {
    margin-left: 6%;
    font-size: 4em;
}
.price h3 {
    margin-right: 6%;
    font-size: 4em;
}