@font-face {
    font-family: "MgenRegular";
    src: url('../fonts/mgenplus-1p-regular.ttf') format('truetype');
}
body {
    font-family: "MgenRegular";
}
#naeitiran {
    background: white;
}
main {
    width: 80%;
    margin: 40px auto;
}
.header {
    width: 85%;
    margin: 0 auto;
}
.header h1 {
    display: none;
}
.header img {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}
.product-list {
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.column {
    width: 31.3%;
    margin: 1% 1%;
    float: left;
}
.column img {
    width: 100%;
    height: auto;
}
.column h1 a {
    color: black;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.column img:hover {
    border-radius: 6px;
    box-shadow: #333333 0 1px 6px;
}